/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.wrapper {
  height: auto;
  padding: 20px;
  width: 100%;

  flex-grow: 1;
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body,angular-mfe-demo-root{
  height: 100%;

}

angular-mfe-demo-root {
  display: flex;
  flex-direction: column;
}
